# List of folders & file names/extensions to be ignored by the git repository.
src/stdbool.h
src/stdint.h
src/pic18f66k22.h

DIGHYG_V2.X/funclist
DIGHYG_V2.X/l.obj
DIGHYG_V2.X/build
DIGHYG_V2.X/dist
DIGHYG_V2.X/nbproject/*
