# List of folders & file names/extensions to be ignored by the git repository.
src/stdbool.h
src/stdint.h
src/pic18f66k22.h

DIG_HYG_TST.X/funclist
DIG_HYG_TST.X/l.obj
DIG_HYG_TST.X/build
DIG_HYG_TST.X/dist
DIG_HYG_TST.X/nbproject/*
